<h3>Sign Up</h3>
<form [formGroup]="registerForm" (ngSubmit)="signup()">
    <div class="mb-3">
        <label for="userName" class="form-label">User name</label>
        <input type="text" class="form-control" formControlName="userName" />
    </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      aria-describedby="emailHelp"
      formControlName="email"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password" />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">
    Sign Up
  </button>
</form>


<ng-template #modalContent let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Registration</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
	</div>
	<div class="modal-body">
		<p>Follow the <a href={{confirmEmailLink}}>link</a> to confirm the email</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-secondary" (click)="c('Save click')">Save</button>
	</div>
</ng-template>